# Auto detect text files and perform LF normalization

*          text  eol=crlf
*.eot      binary
*.ttf      binary
*.woff     binary
*.woff2    binary
*.png      binary
*.cs       text  diff=csharp
